.react-bs-container-header {
    margin-top: 15px;
}

.ReactModal__Overlay {
    z-index: 1055;
}

.sr-only {
    display: none;
}

.close {
    border: 0;
    background: transparent;
    font-size: 24px;
}

.modal-header>span {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;

    .close {
        float: right;
    }
}

.form-group {
    margin-bottom: 15px;

    >label {
        margin-bottom: 8px;
    }
}

.react-bootstrap-table-page-btns-ul {
    &.pagination {
        justify-content: flex-end;
    }
}

.CreateAuthCodeModal_input {
    padding-bottom: 5px;
}

.no-selection-highlight {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-selection-highlight tr {
    transition: background-color 0.2s ease;
}

.no-selection-highlight tr:focus,
.no-selection-highlight tr:active {
    outline: none !important;
    background-color: inherit !important;
}

.no-selection-highlight tr.selection-row {
    background-color: red;
    /* 或者你想要的任何颜色 */
}

.react-bootstrap-table {
    &.no-selection-highlight {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        table {
            tbody {
                tr {
                    transition: background-color 0.2s ease;

                    &:focus,
                    &:active {
                        outline: none !important;
                        background-color: inherit !important;
                    }

                    &.selection-row {
                        background-color: #e8e8e8 !important; // 使用 !important 来确保覆盖其他样式
                    }
                }
            }
        }
    }

    .custom-selection-row {
        background-color: #e8e8e8 !important;
        transition: background-color 0.2s ease;
        outline: none !important;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
}

.sorting-header {
  position: relative;
  cursor: pointer;
  
  &::after {
    content: '\25B2'; // 上三角
    position: absolute;
    right: 8px;
    opacity: 0.5;
  }
  
  &::before {
    content: '\25BC'; // 下三角
    position: absolute;
    right: 8px;
    top: 10px;
    opacity: 0.5;
  }
  
  &.asc::after {
    opacity: 1;
  }
  
  &.desc::before {
    opacity: 1;
  }
}
