$sidebarWidth: 230px; // Adjust this value to your desired width

.sidebarArea {
  flex-shrink: 0;
  width: $sidebarWidth;
  background-color: $sidebarColor;
  
  .sidenav-bg {
    &:hover {
      background-color: $gray-100;
      border-radius: $border-radius;
    }
    
    a {
      -webkit-tap-highlight-color: transparent !important;
      -webkit-user-select: none !important;
      user-select: none !important;
      outline: none !important;
      
      &:active,
      &:focus,
      &:hover,
      &.active {
        outline: none !important;
        box-shadow: none !important;
      }
    }
    
    .active {
      background: linear-gradient(118deg, #26c6da, #33d6e4);
      box-shadow: 0 0 10px 1px rgba(38, 198, 218, 0.3);
      border-radius: $border-radius;
      color: white;
    }    
  }
}

@include media-breakpoint-down(lg) {
  .sidebarArea {
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 200px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    
    &.showSidebar {
      transform: translateX(0);
    }
  }
}