.sidebarArea {
  flex-shrink: 0;
  width: $sidebarWidth;
  background-color: $sidebarColor;
  .sidenav-bg:hover {
    background-color: $gray-100;
    border-radius: $border-radius;
  }
  .sidenav-bg .active {
    background-color: $info;
    border-radius: $border-radius;
    color: white;
  }
}

@include media-breakpoint-down(lg) {
  .sidebarArea {
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0; /* 确保从左边开始 */
    z-index: 1050; /* 增加z-index确保在其他元素之上 */
    width: 250px; /* 设置固定宽度 */
    transform: translateX(-100%); /* 初始状态隐藏 */
    transition: transform 0.3s ease-in-out;
    &.showSidebar {
      transform: translateX(0); /* 显示时移动到可见区域 */
    }
  }
}
