.content-container {
  background-color: #f1f1f1;
}

.p-4 {
  padding-top: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-bottom: 0.5rem !important;
}
