.content-container {
  background-color: #f1f1f1;
  min-height: calc(100vh - 64px); /* 假设header高度为64px */
}

.contentArea {
  flex-grow: 1;
  transition: all 0.3s ease;
}

.sidebarArea {
  position: relative;
  transition: all 0.3s ease;
}

/* 响应式处理 */
@media (max-width: 991.98px) {
  .sidebarArea {
    position: fixed;
    left: -260px;
    height: 100%;
    z-index: 1000;
  }

  .sidebarArea.showSidebar {
    left: 0;
  }
}

.p-4 {
  padding-top: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-bottom: 0.5rem !important;
}